.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $text-color-accent;
  letter-spacing: 0.03em;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $text-color-black;
  letter-spacing: 0.03em;
}
.footer-address .logo-web {
  display: block;
  margin-bottom: 20px;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $text-color-white;
  letter-spacing: 0.03em;
}
